<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script>
const gitalk = new Gitalk({
  clientID: 'a3935344d80cf4a1bf5f',
  clientSecret: '45bfe898a1ab25f08d700069de165fcfb05c1758',
  repo: 'manzo.github.io',
  owner: 'manzo',
  admin: ['manzo'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
